/* 1. Custom @font-face Definitions */
@font-face {
    font-family: 'Outfit Local';
    /* Ensure the path is correct relative to this CSS file */
    src: url('../public/fonts/Outfit-Regular.ttf') format('truetype'); 
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Outfit Local';
    src: url('../public/fonts/Outfit-Bold.ttf') format('truetype'); 
    font-weight: 700; 
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}
